In [60]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [61]:
loan = pd.read_csv('C://Users//angeorge//Desktop//Personal_Content//Upgrad//Lending Case Study//loan.csv')

C:\Users\angeorge\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### The total number of rows and columns

In [62]:
rows = loan.shape[0]
cols = loan.shape[1]
  
# displaying the number of rows and columns
print("Rows: " + str(rows))
print("Columns: " + str(cols))

Rows: 39717
Columns: 111

### Displaying the data types of variables

In [64]:
pd.set_option("max_rows", None)
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

info() is used to check the Information about the data and the datatypes of each respective attributes.
Looking at the data, there are float64(74), int64(13) and object(24) data types.

In [65]:
loan.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

### Checking for duplicate data

In [66]:
dups = loan.duplicated()
print('Number of duplicate rows = %d' % (dups.sum()))

loan[dups]

Number of duplicate rows = 0

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 111 columns]

There are no duplicate rows

### Checking for Missing Values

In [67]:
pd.set_option("max_rows", None)

In [68]:
loan.isnull().sum()

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2459
emp_length                         1075
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              13150
purpose                               0
title                                11
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
open_acc                              0
pub_rec                               0
revol_bal                             0
revol_util                           50
total_acc                             0
initial_list_status                   0
out_prncp                             0
out_prncp_inv                         0
total_pymnt                           0
total_pymnt_inv                       0
total_rec_prncp                       0
total_rec_int                         0
total_rec_late_fee                    0
recoveries                            0
collection_recovery_fee               0
last_pymnt_d                         71
last_pymnt_amnt                       0
next_pymnt_d                      38577
last_credit_pull_d                    2
collections_12_mths_ex_med           56
mths_since_last_major_derog       39717
policy_code                           0
application_type                      0
annual_inc_joint                  39717
dti_joint                         39717
verification_status_joint         39717
acc_now_delinq                        0
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
chargeoff_within_12_mths             56
delinq_amnt                           0
mo_sin_old_il_acct                39717
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

1.There are 54 columns with complete null values. we will be dropping these columns.
2.In addition there are 3 columns i.e. 'mths_since_last_delinq','mths_since_last_record' & 'next_pymnt_d' with >=50% missing values, hence we will be dropping these columns as well.

In [69]:
## To drop null columns
loan.drop(['mths_since_last_major_derog','annual_inc_joint','dti_joint','verification_status_joint','tot_coll_amt','tot_cur_bal','open_acc_6m','open_il_6m','open_il_12m','open_il_24m','mths_since_rcnt_il','total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc','all_util','total_rev_hi_lim','inq_fi','total_cu_tl','inq_last_12m','acc_open_past_24mths','avg_cur_bal','bc_open_to_buy','bc_util','mo_sin_old_il_acct','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl','mort_acc','mths_since_recent_bc','mths_since_recent_bc_dlq','mths_since_recent_inq','mths_since_recent_revol_delinq','num_accts_ever_120_pd','num_actv_bc_tl','num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl','num_rev_accts','num_rev_tl_bal_gt_0','num_sats','num_tl_120dpd_2m','num_tl_30dpd','num_tl_90g_dpd_24m','num_tl_op_past_12m','pct_tl_nvr_dlq','percent_bc_gt_75','tot_hi_cred_lim','total_bal_ex_mort',
'total_bc_limit','total_il_high_credit_limit','mths_since_last_delinq','mths_since_last_record',
'next_pymnt_d'], axis=1, inplace = True)

In [70]:
## To drop null rows
loan.dropna(subset = ["emp_title","emp_length","title","revol_util","last_pymnt_d","last_credit_pull_d",
                      "collections_12_mths_ex_med","chargeoff_within_12_mths","pub_rec_bankruptcies","tax_liens"], inplace=True)

In [71]:
## Replacing null values with string " Blanks"
nan_value = "Blanks"
loan["desc"].fillna(nan_value,inplace=True)

1. The columns "emp_title","emp_length","title","revol_util","last_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","chargeoff_within_12_mths","pub_rec_bankruptcies","tax_liens"
have less than 10% of null values, hence removed only the null rows
2. column "desc" has 33% of null value. hence, we have replaced null value with string "Blanks". This creates another category.

In [74]:
## Removing non value add columns
loan.drop(['id','member_id','pymnt_plan','initial_list_status','collections_12_mths_ex_med','policy_code','acc_now_delinq','chargeoff_within_12_mths',
             'delinq_amnt','tax_liens'], axis=1, inplace = True)

There are around 10 columns which does not provide any valuable insight about the member, hence we are dropping all those columns.

In [78]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36431 entries, 1 to 39623
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                36431 non-null  int64
 1   funded_amnt              36431 non-null  int64
 2   funded_amnt_inv          36431 non-null  float64
 3   term                     36431 non-null  object
 4   int_rate                 36431 non-null  object
 5   installment              36431 non-null  float64
 6   grade                    36431 non-null  object
 7   sub_grade                36431 non-null  object
 8   emp_title                36431 non-null  object
 9   emp_length               36431 non-null  object
 10  home_ownership           36431 non-null  object
 11  annual_inc               36431 non-null  float64
 12  verification_status      36431 non-null  object
 13  issue_d                  36431 non-null  object
 14  loan_status              36431 non-null  object
 15  url                      36431 non-null  object
 16  desc                     36431 non-null  object
 17  purpose                  36431 non-null  object
 18  title                    36431 non-null  object
 19  zip_code                 36431 non-null  object
 20  addr_state               36431 non-null  object
 21  dti                      36431 non-null  float64
 22  delinq_2yrs              36431 non-null  int64
 23  earliest_cr_line         36431 non-null  object
 24  inq_last_6mths           36431 non-null  int64
 25  open_acc                 36431 non-null  int64
 26  pub_rec                  36431 non-null  int64
 27  revol_bal                36431 non-null  int64
 28  revol_util               36431 non-null  object
 29  total_acc                36431 non-null  int64
 30  out_prncp                36431 non-null  float64
 31  out_prncp_inv            36431 non-null  float64
 32  total_pymnt              36431 non-null  float64
 33  total_pymnt_inv          36431 non-null  float64
 34  total_rec_prncp          36431 non-null  float64
 35  total_rec_int            36431 non-null  float64
 36  total_rec_late_fee       36431 non-null  float64
 37  recoveries               36431 non-null  float64
 38  collection_recovery_fee  36431 non-null  float64
 39  last_pymnt_d             36431 non-null  object
 40  last_pymnt_amnt          36431 non-null  float64
 41  last_credit_pull_d       36431 non-null  object
 42  application_type         36431 non-null  object
 43  pub_rec_bankruptcies     36431 non-null  float64
dtypes: float64(15), int64(8), object(21)
memory usage: 12.5+ MB

#### Cleaning the data columns

In [84]:
## Remove % from columns int_rate & revol_util
loan['int_rate'] = loan['int_rate'].replace({'%': ''}, regex=True)
loan['revol_util'] = loan['revol_util'].replace({'%': ''}, regex=True)

Note: emp_length column is not cleaned because + & < has a meaning and creates a seperate category for the data analysis

In [85]:
## Change the data type of the column
loan[['int_rate', 'revol_util']] = loan[['int_rate', 'revol_util']].apply(pd.to_numeric)

In [86]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36431 entries, 1 to 39623
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                36431 non-null  int64
 1   funded_amnt              36431 non-null  int64
 2   funded_amnt_inv          36431 non-null  float64
 3   term                     36431 non-null  object
 4   int_rate                 36431 non-null  float64
 5   installment              36431 non-null  float64
 6   grade                    36431 non-null  object
 7   sub_grade                36431 non-null  object
 8   emp_title                36431 non-null  object
 9   emp_length               36431 non-null  object
 10  home_ownership           36431 non-null  object
 11  annual_inc               36431 non-null  float64
 12  verification_status      36431 non-null  object
 13  issue_d                  36431 non-null  object
 14  loan_status              36431 non-null  object
 15  url                      36431 non-null  object
 16  desc                     36431 non-null  object
 17  purpose                  36431 non-null  object
 18  title                    36431 non-null  object
 19  zip_code                 36431 non-null  object
 20  addr_state               36431 non-null  object
 21  dti                      36431 non-null  float64
 22  delinq_2yrs              36431 non-null  int64
 23  earliest_cr_line         36431 non-null  object
 24  inq_last_6mths           36431 non-null  int64
 25  open_acc                 36431 non-null  int64
 26  pub_rec                  36431 non-null  int64
 27  revol_bal                36431 non-null  int64
 28  revol_util               36431 non-null  float64
 29  total_acc                36431 non-null  int64
 30  out_prncp                36431 non-null  float64
 31  out_prncp_inv            36431 non-null  float64
 32  total_pymnt              36431 non-null  float64
 33  total_pymnt_inv          36431 non-null  float64
 34  total_rec_prncp          36431 non-null  float64
 35  total_rec_int            36431 non-null  float64
 36  total_rec_late_fee       36431 non-null  float64
 37  recoveries               36431 non-null  float64
 38  collection_recovery_fee  36431 non-null  float64
 39  last_pymnt_d             36431 non-null  object
 40  last_pymnt_amnt          36431 non-null  float64
 41  last_credit_pull_d       36431 non-null  object
 42  application_type         36431 non-null  object
 43  pub_rec_bankruptcies     36431 non-null  float64
dtypes: float64(17), int64(8), object(19)
memory usage: 12.5+ MB

#### Making different list for categorical and numerical columns

In [87]:
cat=[]
num=[]
for i in loan.columns:
    if loan[i].dtype=="object":
        cat.append(i)
    else:
        num.append(i)
print(cat) 
print(num)

['term', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']
['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate', 'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'pub_rec_bankruptcies']

#### Outlier Detection and removal for numerical columns

In [98]:
## Outlier detection and removal using Z score
from scipy import stats
import numpy as np
z = np.abs(stats.zscore(loan[num]))   # get the z-score of every value with respect to their columns
loan_num = loan[num][(z < 3).all(axis=1)]    # Select only the rows without a single outlier
loan_num.shape, loan[num].shape

((29182, 25), (36431, 25))

In [103]:
## Categorical dataframe
loan_cat = loan[cat]
loan_cat.shape

## Numerical Dataframe
loan_cat.shape, loan_num.shape

((36431, 19), (29182, 25))